<!-- Links -->
<div class="card-container">
    <a class="circle-link" title="Covid Saude Gov Br" href="https://covid.saude.gov.br/" target="_blank" rel="noopener">
        <img src="../assets/images/covid.saude.gov.br.png" alt="Gov Brasil" width="35">
    </a>
    <a class="circle-link" title="COVID-19 Brazil API" href="https://covid19-brazil-api.now.sh/" target="_blank"
        rel="noopener">
        <img src="../assets/images/public.svg" alt="COVID-19 Brazil API"
            style="width: 40px !important;margin-top: 0px;margin-left: 0;">
    </a>
    <a class="circle-link" title="IBGE" href="https://www.ibge.gov.br/estatisticas/sociais/populacao/9109-projecao-da-populacao.html?=&t=resultados" target="_blank"
        rel="noopener">
        <img src="../assets/images/ibge.png" alt="IBGE"
            style="width: 40px !important;margin-top: 0px;margin-left: 0;">
    </a>
    <a class="circle-link" title="Repositorio" href="https://github.com/ntnrdt/mapacoronga" target="_blank"
        rel="noopener">
        <img src="../assets/images/github.png" alt="Repositorio" width="35">
    </a>
    <a class="circle-link" title="Email" href="mailto:natanrdutra@gmail.com?Subject=Mapa%20Covid19" target="_blank"
        rel="noopener">
        <img src="../assets/images/gmail.png" alt="Email" width="35">
    </a>`
    <a class="circle-link" title="LinkedIn" href="https://www.linkedin.com/in/n-dutra/" target="_blank" rel="noopener">
        <img src="../assets/images/linkedin.png" alt="LinkedIn" width="35">
    </a>
</div>
<!-- Links -->