/* MAP CSS */
#map {
    border: solid 1px #e0e0e0;
    border-radius: 10px;
    height: 600px;
    position: relative;
    width: 80vw;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.leaflet-top.leaflet-right .info.leaflet-control {
    min-width: 125px;
}

.info.legend span,
.legend .legend-item {
    border: solid 1px #7baec5;
}

.card {
    height: 50px;
    text-align: right;
}

.card-container{
    justify-content: flex-end;
}

.card-container .card {
    display: block;
}

.card-container .card h2{ 
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 0px;
    margin-top: 0px;
}

.card-container .card span { 
    font-weight: 900;
}

.card .confirmed {
    color: #eedb37;
}

.card .recovered {
    color: #00c85f;
}

.card .deaths {
    color: red;
}

.card .deadly {
    color: purple;
}


.last-updated{
    position: absolute;
    width: 200px;
}

.last-updated h3{
    font-size: 20px;
    margin-bottom: 0px;
}

.last-updated p {
    margin-top: 5px;
}

.g-mr-0{
    margin-right: 0px;
}

