<section class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heads-up">
                    <h5><u>FONTE DE DADOS</u></h5>

                    <p>Os dados aqui apresentados são atualizados diariamente pelo site do
                        Governo Brasileiro (<a href="https://covid.saude.gov.br/" target="_blank">Coronavírus Brasil</a>)
                        que é de onde estas informações são colhidas. <br>
                        Para mais informações acesse: <a href="https://covid.saude.gov.br/" target="_blank">https://covid.saude.gov.br</a> <br>
                        <b>Última Atualização: </b><span id="update-at"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>