<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Logo" src="../assets/images/br.svg" />
  <span><b>MAPA COVID19</b></span>
  <img width="40" alt="Logo" src="../assets/images/rio.svg" />
  <div class="spacer"></div>
</div>

<div class="content" role="main">

  <app-map></app-map>

  <!-- Links -->
  <div class="card-container">
    <a class="circle-link" title="Repo" href="https://angular.io/guide/animations" target="_blank" rel="noopener">
      <img src="../assets/images/github.png" alt="Repo" width="30">
    </a>
    <a class="circle-link" title="Covid Saude Gov Br" href="https://covid.saude.gov.br/" target="_blank" rel="noopener">
      <img src="../assets/images/covid.saude.gov.br.png" alt="Gov Brasil" width="30">
    </a>
    <a class="circle-link" title="Mapbox" href="https://www.mapbox.com/" target="_blank" rel="noopener">
      <img src="../assets/images/mapbox.png" alt="Mapbox" width="30">
    </a>
    <a class="circle-link" title="Leafletjs" href="https://leafletjs.com/examples/choropleth" target="_blank" rel="noopener">
      <img src="../assets/images/leaflet.png" alt="Leafletjs" width="30">
    </a>
    <a class="circle-link" title="Covid19api" href="https://api.covid19api.com/" target="_blank" rel="noopener">
      <img src="../assets/images/public.png" alt="Covid19api" width="35">
    </a>
    <a class="circle-link" title="Map Geometry" href="https://github.com/eduardo-veras/kml-brasil/tree/master/lib/2010/estados/geojson" target="_blank" rel="noopener">
      <img src="../assets/images/navigation.png" alt="Map Geometry" width="20">
    </a>
  </div>
</div>
<router-outlet></router-outlet>