<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Logo" src="../assets/images/br.svg" />
  <span><b>MAPA COVID19</b></span>
  <img width="40" alt="Logo" src="../assets/images/rio.svg" />
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-atom" [fullScreen]="true">
    <p style="color: white"> Carregando... </p>
  </ngx-spinner>
  <app-map></app-map>

  <!-- Links -->
  <div class="card-container">
    <a class="circle-link" title="Covid Saude Gov Br" href="https://covid.saude.gov.br/" target="_blank" rel="noopener">
      <img src="../assets/images/covid.saude.gov.br.png" alt="Gov Brasil" width="35">
    </a>
    <a class="circle-link" title="Covid19api" href="https://api.covid19api.com/" target="_blank" rel="noopener">
      <img src="../assets/images/public.svg" alt="Covid19api"
        style="width: 45px !important;margin-top: 0px;margin-left: 0;">
    </a>
    <a class="circle-link" title="Repositorio" href="https://github.com/ntnrdt/mapacoronga" target="_blank"
      rel="noopener">
      <img src="../assets/images/github.png" alt="Repositorio" width="35">
    </a>
    <a class="circle-link" title="Email" href="mailto:natanrdutra@gmail.com?Subject=Mapa%20Covid19" target="_blank"
      rel="noopener">
      <img src="../assets/images/gmail.png" alt="Email" width="35">
    </a>
    <a class="circle-link" title="Twitter" href="https://twitter.com/ntnrdt" target="_blank" rel="noopener">
      <img src="../assets/images/twitter.png" alt="Twitter" width="35">
    </a>
    <a class="circle-link" title="LinkedIn" href="https://www.linkedin.com/in/n-dutra/" target="_blank" rel="noopener">
      <img src="../assets/images/linkedin.png" alt="LinkedIn" width="35">
    </a>
  </div>
</div>
<router-outlet></router-outlet>