.simple-border {
    border: solid 1px #e0e0e0;
    border-radius: 10px;
}

table.sticky-header th {
    background: white;
    position: sticky;
    top: -1px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.legend .legend-item {
    border: solid 1px #7baec5;
}

.leaflet-right .info h2,
.leaflet-right .info h3 {
    margin: 0px;
}

.leaflet-right .info h2 {
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.leaflet-right .info h3 {
    font-size: 16px;
}

.leaflet-right .info p {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.leaflet-right .leaflet-control {
    margin-right: 10px !important;
}

.leaflet-top.leaflet-right .info.leaflet-control {
    text-align: right;
    margin-top: 10px;
}

.info p:last-of-type {
    margin-bottom: 0;
}

.info.leaflet-control {
    background-color: #ffffffad;
    padding-left: 20px;
    border-radius: 10px;
    padding-right: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#dark-theme-button {
    display: block;
    position: fixed;
    padding: 9px !important;
    bottom: 20px;
    left: 15px;
    z-index: 9999;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(13, 63, 99);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.5), 0 6px 10px 0 rgba(0, 0, 0, 0.5), 0 1px 18px 0 rgba(0, 0, 0, 0.5);
    width: 45px;
    height: 45px;
}

#dark-theme-button img {
    margin-left: -1px;
    margin-top: -3px;
    width: 29px;
    filter: invert(1);
}

#dark-theme-button:hover {
    background-color: #6b6b6b;
}

html.dark-theme,
html.dark-theme .toolbar,
html.dark-theme footer,
html.dark-theme .card .card-header,
html.dark-theme body,
html.dark-theme .table-striped thead tr th {
    background-color: #292929 !important;
}

html.dark-theme #map .leaflet-overlay-pane svg,
html.dark-theme #aggregated-chart,
html.dark-theme .card .card-body {
    background-color: #2a2a2abf;
}

html.dark-theme #aggregated-chart {
    filter: brightness(1.5);
}

html.dark-theme,
html.dark-theme .toolbar,
html.dark-theme footer,
html.dark-theme .heads-up,
html.dark-theme .card span,
html.dark-theme .card .card-header,
html.dark-theme #map,
html.dark-theme #fonte,
html.dark-theme #fonte a,
html.dark-theme .table-striped thead tr {
    color: white !important;
}

html.dark-theme #dark-theme-button {
    background-color: white;
}

html.dark-theme #dark-theme-button img {
    filter: none;
}

html.dark-theme #dark-theme-button:hover {
    background-color: #6b6b6b;
    filter: invert(1);
}

html.dark-theme .card,
html.dark-theme .card .card-body h5.card-title {
    color: white !important;
}

html.dark-theme .table-striped tbody tr {
    background-color: #292929 !important;
    color: white;
}

html.dark-theme .table-striped tbody tr:nth-of-type(odd) {
    background-color: #666766 !important;
    color: white;
}
