.legend .legend-item {
    border: solid 1px #7baec5;
}

.card svg.material-icons path {
    fill: #888;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
}

.card {
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    background-color: transparent;
    height: 40px;
    width: 150px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.card-container .card:not(:last-child) {
    margin-right: 0;
}

.card.card-small {
    height: 16px;
    width: 168px;
}

.card-container .card:not(.highlight-card) {
    cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
}

.card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
}

.card.card.highlight-card span {
    margin-left: 60px;
}

.leaflet-right .info h2,
.leaflet-right .info h3 {
    margin: 0px;
}

.leaflet-right .info h3 {
    font-size: 16px;
}

.leaflet-right .info p {
    font-size: 14px;
    margin-top: 0px;
}

.leaflet-right .leaflet-control {
    margin-right: 30px !important;
}

.leaflet-top.leaflet-right .info.leaflet-control {
    text-align: right;
    margin-top: 30px;
}

#dark-theme-button {
    display: block;
    position: fixed;
    padding: 9px !important;
    bottom: 20px;
    left: 15px;
    z-index: 9999;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #292929;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    width: 24px;
    height: 24px;
}

#dark-theme-button img {
    margin-left: -3px;
    margin-top: -3px;
    width: 29px;
    filter: invert(1);
}

#dark-theme-button:hover {
    background-color: #6b6b6b;
}

html.dark-theme,
html.dark-theme .toolbar {
    background-color: #292929;
}

html.dark-theme #map .leaflet-overlay-pane svg {
    background-color: #2a2a2abf;
}

html.dark-theme,
html.dark-theme .toolbar,
html.dark-theme .last-updated,
html.dark-theme .card span,
html.dark-theme #map,
html.dark-theme #fonte,
html.dark-theme #fonte a {
    color: white !important;
}

html.dark-theme #dark-theme-button {
    background-color: white;
}

html.dark-theme #dark-theme-button img {
    filter: none;
}

html.dark-theme #dark-theme-button:hover {
    background-color: #6b6b6b;
    filter: invert(1);
}

html.dark-theme .card .deadly {
    color: white !important;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
    /* .card-container > *:not(.circle-link) {
        width: 100%;
    } */

    .cards.card-container {
        justify-content: space-between !important;
        margin-bottom: 15px;
    }

    .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
        width: 40%;
    }

    .card.highlight-card span {
        margin-left: 72px;
    }
}

/* up to iPhone5/5s/SE portrait mode */
@media (max-width: 767px) and (orientation: portrait) {
    .cards.card-container .card h2 {
        font-size: 1.6em !important;
    }

    .cards.card-container .card span {
        font-weight: 700 !important;
    }
}

/* up to iPhone 8 plus landscape mode */
@media (max-width: 736px) and (orientation: landscape) {
    .cards.card-container {
        justify-content: space-evenly !important;
        margin-bottom: 15px;
    }

    .cards.card-container .card {
        width: 15vw !important;
        margin-right: 10px;
    }

    .cards.cards.card-container .card h2 {
        font-size: 1.5em !important;
    }

    .cards.cards.card-container .card span {
        font-size: 1em;
        font-weight: 500 !important;
    }
}

/* iPhone 6 and up - cards h2 */
@media (min-width: 414px) and (orientation: portrait) {
    .cards.card-container .card h2 {
        font-size: 1.8em !important;
    }
}

/* up to iPhone5/5s/SE */
@media (max-width: 414px) and (orientation: portrait) {
    .cards.card-container {
        justify-content: space-evenly !important;
        margin-bottom: 15px;
    }

    .cards.card-container .card {
        width: 35% !important;
    }

    .cards.card-container .card span {
        font-weight: 700 !important;
    }
}

/* all devices */
@media (max-width: 768px) {
    #map {
        width: 100% !important;
    }

    .last-updated {
        position: static !important;
    }

    .leaflet-right div.leaflet-control {
        margin-right: 10px !important;
    }

    .leaflet-right .info h2,
    .leaflet-right .info h3 {
        font-size: 14px !important;
    }

    .leaflet-right .info p {
        font-size: 12px !important;
        margin-top: -5px !important;
        margin-bottom: 5px !important;
    }

    .leaflet-right .info {
        font-size: 8px;
    }
}

/* all devices */
@media (min-width: 767px) and (max-width: 1200px) {
    .last-updated {
        width: 100%;
        display: contents;
    }
}

/* all devices */
@media (min-width: 767px) and (max-width: 1024px) {
    .card-container .card {
        width: 15vw !important;
    }
}

/* iPad portrait */
@media (device-width: 768px) and (orientation: portrait) {
    .card-container .card {
        width: 135px;
    }
}

/* iPad and iPhone X landscape */
@media (device-width: 812px) and (orientation: landscape), (device-width: 1024px) and (orientation: landscape) {
    .last-updated {
        width: 100%;
        display: contents;
    }
}

/* iPad landscape */
@media (device-width: 1024px) and (orientation: landscape) {
    .card-container .card {
        width: 165px !important;
    }
}

/* iPhone X landscape */
@media (device-width: 812px) and (orientation: landscape) {
    .card-container .card {
        width: 15vw;
    }
}

/* iPad Pro portrait */
@media (device-width: 1024px) and (orientation: portrait) {
    .card-container .card {
        width: 165px !important;
    }

    .last-updated {
        width: 100%;
        display: contents;
    }
}

/* Toastr */
.toast-container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
