.row {
    margin-bottom: 20px;
}

.card {
    box-shadow: #00000021 -7px 7px 14px;
}

.card .card-header,
.toolbar {
    background-color: rgb(13, 63, 99) !important;
    color: white !important;
    text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(45, 86, 117) !important;
    color: white !important;
}